<header>
  <div class="container">
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <h3>
        Covid19
        <img src="../../../assets/imgs/coronavirus.png" alt="" /> Tracker
      </h3>
    </a>
    <nav class="app-nav">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Statistics</a
      >
      <a routerLink="case" routerLinkActive="active">Assigned Cases</a>
    </nav>
  </div>
</header>
