.line-chart {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 400px;
  #zr_0 {
    height: 100px;
  }
  @media (max-width: 1280px) {
  }
}
